:root {
    --default-image-url: url('images/default.png'); /* Default image */
    --default-image-url-dark: url('images/default_dark.png'); /* Default dark mode image */
}

body.dark-mode {
    --default-image-url: var(--default-image-url-dark);
}

.scientist-photo.image-error {
    background-color: var(--img-error-bg) !important;
    border-style: dashed !important;
    border-color: var(--img-error-border) !important;
    background-image: var(--default-image-url);
    background-size: cover;
    color: var(--img-error-border) !important;
}
